<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>${pageName}</title>
    <base target="_self">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta http-equiv="pragma" content="no-cache"/>
<body>
    $screen_content
</body>
</html>