<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!--rap start-->
    <appender name="rapAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logger.root}/rap.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%date %-5level [%file:%line] %msg%n%ex</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logger.root}/rap.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>50MB</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="webAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logger.root}/rap-web.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%date %-5level [%file:%line] %msg%n%ex</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logger.root}/rap-web.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>50MB</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logger.root}/rap-error.log</File>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%date %-5level [%file:%line] %msg%n%ex</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logger.root}/rap-error.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>50MB</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--profile-->
    <appender name="PROFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logger.root}/profile.log</File>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%date %-5level [%file:%line] %msg%n%ex</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logger.root}/profile.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>50MB</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!--rap end-->

    <!--rap start-->
    <logger name="rap" additivity="false">
        <level value="${logger.level}"/>
        <appender-ref ref="rapAppender"/>
    </logger>


    <!--rap end-->

    <root>
        <level value="${logger.level}"/>
        <appender-ref ref="rapAppender"/>
    </root>

</configuration>